<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="com.cmb" level="${logs.leve}"/>
	
	<appender name="LOGS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.home}/log.out</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logs.home}/log.%d{yyyy-MM-dd}.out</fileNamePattern>
			<MaxHistory>100</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${PATTERN}</pattern>
		</layout>
	</appender>	
		
	<logger name="org.springframework" level="WARN"/>		
	<logger name="com.netflix" level="WARN"/>
	<logger name="org.apache.activemq" level="WARN"/>

	<root level="DEBUG">
		<appender-ref ref="LOGS_FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
